body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Asap', sans-serif; }
  body::before {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1; }

header > h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 40px;
  background: linear-gradient(to right top, #abcae1, #6bd2df, #50d6b1, #8dd065, #dcb913);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both; }

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
.location {
  display: flex;
  margin: 1em 0; }
  .location > input[type=text] {
    padding: 10px;
    margin-right: 5%;
    border-bottom: 2px solid #008385;
    border-top: none;
    border-left: none;
    border-right: none; }
    .location > input[type=text]:focus {
      outline: none; }
  .location > button {
    border-radius: 10px;
    border: none;
    cursor: pointer; }
    .location > button:focus {
      outline: none; }

.square_btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(to right top, #abcae1, #6bd2df, #50d6b1, #8dd065, #dcb913);
  background-image: linear-gradient(to right top, #abcae1, #6bd2df, #50d6b1, #8dd065, #dcb913);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668; }

.square_btn:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none; }

#day {
  width: 10%;
  height: 40%;
  padding: 10% 10% 30%;
  background-color: transparent;
  display: none;
  margin-top: 1em;
  position: relative;
  animation: levitate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }
  #day::before {
    content: "";
    background-image: white;
    background-size: cover;
    border-radius: 10% 10% 10% 10%;
    -webkit-box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5; }

@keyframes levitate {
  from {
    transform: translate(0, 0px); }
  65% {
    transform: translate(0, 15px); }
  to {
    transform: translate(0, 0px); } }
.sunny {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  display: none; }

.sun {
  position: absolute;
  z-index: 1;
  width: 5em;
  bottom: 0.1em;
  right: 7.5em;
  display: none; }

.image {
  display: flex;
  flex-direction: column; }

#desc {
  color: #008385;
  position: absolute;
  top: -3em;
  left: 8.5em; }

#temp {
  color: #008385;
  position: absolute;
  font-size: 1.8em;
  z-index: 1;
  top: -2.2em;
  left: 3.8em;
  padding: 0;
  margin: 0; }

#night {
  width: 10%;
  height: 40%;
  padding: 10% 10% 30%;
  background-color: transparent;
  display: none;
  position: relative;
  margin-top: 2em;
  animation: levitate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }
  #night::before {
    content: "";
    background-image: black;
    background-size: cover;
    position: absolute;
    border-radius: 10% 10% 10% 10%;
    -webkit-box-shadow: 0px 1px 16px 0px white;
    -moz-box-shadow: 0px 1px 16px 0px white;
    box-shadow: 0px 1px 16px 0px white;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5; }

.image1 {
  display: flex;
  flex-direction: column;
  position: relative; }

#descn {
  color: white;
  position: absolute;
  top: -4.0em;
  left: 8.5em; }

#tempn {
  color: white;
  position: absolute;
  font-size: 1.8em;
  z-index: 1;
  top: -2.2em;
  left: 3.8em;
  padding: 0;
  margin: 0; }

.nighty {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  display: none; }

#mn, #sn, #rn, #cn {
  position: absolute;
  bottom: 0.1em;
  right: 7.5em; }

@media only screen and (max-width: 1350px) {
  #night, #day {
    min-width: 150px;
    min-height: 50px; }

  #mn, #sn, #rn, #cn, #sun, #cd, #rd, #sd {
    position: absolute;
    bottom: 0.1em;
    right: 7.5em; }

  #tempn, #temp {
    position: absolute;
    top: -2.2em;
    left: 3.8em; }

  #descn, #desc {
    position: absolute;
    top: -4.0em;
    left: 8.5em; }

  #dailyn, #dailyd {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3em; }

  #todayn, #todayd {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 4em;
    margin-top: 3em; }

  #plus1n, #plus1d {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -0.8em;
    margin-top: 6em; }

  #plus2n, #plus2d {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -5.8em;
    margin-top: 9em; }

  #plus3n, #plus3d {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -10.6em;
    margin-top: 12em; }

  #plus4n, #plus4d {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -15em;
    margin-top: 15em; }

  #daily-cloudn, #daily-rainn, #daily-snown, #daily-moonn, #daily-cloudd, #daily-raind, #daily-snowd, #daily-sund {
    display: none;
    width: 0.5em;
    position: absolute;
    top: 12em;
    left: 2.8em;
    margin-left: 4em;
    margin-top: -19.5em; }

  #daily-descn, #daily-descd {
    font-size: 1em;
    color: white;
    position: absolute;
    top: 10em;
    left: 2.5em;
    margin-left: 10em;
    margin-top: -20em; }

  #daily-daten, #daily-dated {
    font-size: 1em;
    position: absolute;
    top: 22em;
    color: white;
    left: 3.2em;
    margin-top: -15em;
    margin-left: -2em; }

  #daily-cloudn1, #daily-rainn1, #daily-snown1, #daily-moonn1, #daily-cloudd1, #daily-raind1, #daily-snowd1, #daily-sund1 {
    display: none;
    width: 2.5em;
    position: absolute;
    color: white;
    top: 25.5em;
    left: 7.7em;
    margin-left: 4em;
    margin-top: -19.5em; }

  #daily-descn1, #daily-descd1 {
    font-size: 1em;
    position: absolute;
    color: white;
    top: 27em;
    left: 7.5em;
    margin-left: 10em;
    margin-top: -20em; }

  #daily-daten1, #daily-dated1 {
    font-size: 1em;
    position: absolute;
    color: white;
    top: 22em;
    left: 8em;
    margin-top: -15em;
    margin-left: -2em; }

  #daily-cloudn2, #daily-rainn2, #daily-snown2, #daily-moonn2, #daily-cloudd2, #daily-raind2, #daily-snowd2, #daily-sund2 {
    display: none;
    width: 2.3em;
    position: absolute;
    top: 25.5em;
    left: 12.4em;
    margin-left: 4.2em;
    margin-top: -19em; }

  #daily-descn2, #daily-descd2 {
    font-size: 1em;
    position: absolute;
    color: white;
    top: 27em;
    left: 12.5em;
    margin-left: 10em;
    margin-top: -20em; }

  #daily-daten2, #daily-dated2 {
    font-size: 1em;
    position: absolute;
    color: white;
    top: 22em;
    left: 13.0em;
    margin-top: -15em;
    margin-left: -2em; }

  #daily-cloudn3, #daily-rainn3, #daily-snown3, #daily-moonn3, #daily-cloudd3, #daily-raind3, #daily-snowd3, #daily-sund3 {
    display: none;
    position: absolute;
    top: 25.5em;
    left: 17.4em;
    margin-left: 4.2em;
    margin-top: -19em; }

  #daily-descn3, #daily-descd3 {
    font-size: 1em;
    position: absolute;
    color: white;
    top: 27em;
    left: 17em;
    margin-left: 10em;
    margin-top: -20em; }

  #daily-daten3, #daily-dated3 {
    font-size: 1em;
    position: absolute;
    top: 22em;
    left: 17.7em;
    margin-top: -15em;
    margin-left: -2em; }

  #daily-cloudn4, #daily-rainn4, #daily-snown4, #daily-moonn4, #daily-cloudd4, #daily-raind4, #daily-snowd4, #daily-sund4 {
    display: none;
    width: 2.5em;
    position: absolute;
    top: 25.5em;
    left: 21.6em;
    margin-left: 4.2em;
    margin-top: -19em; }

  #daily-descn4, #daily-descd4 {
    font-size: 1em;
    color: white;
    position: absolute;
    top: 27em;
    left: 21.3em;
    margin-left: 10em;
    margin-top: -20em; }

  #daily-daten4, #daily-dated4 {
    font-size: 1em;
    position: absolute;
    top: 22em;
    color: white;
    left: 22.0em;
    margin-top: -15em;
    margin-left: -2em; } }
@media only screen and (max-width: 1000px) {
  #night, #day {
    min-width: 150px;
    min-height: 100px; }

  #mn, #sn, #rn, #cn, #sun, #cd, #rd, #sd {
    position: absolute;
    bottom: -1.5em;
    right: 7.5em; }

  #tempn, #temp {
    position: absolute;
    top: -1.2em;
    left: 3.8em; }

  #descn, #desc {
    position: absolute;
    top: -1.5em;
    left: 8.5em; }

  #dailyn {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -1em;
    margin-top: 2em; } }
@media only screen and (max-width: 900px) {
  #night, #day {
    min-width: 150px;
    min-height: 150px; }

  #mn, #sn, #rn, #cn, #sun, #cd, #rd, #sd {
    position: absolute;
    width: 3.5em;
    bottom: -1.5em;
    right: 7.5em; }

  #tempn, #temp {
    position: absolute;
    font-size: 1.2em;
    top: -1.2em;
    left: 5.8em; }

  #dailyn, #dailyd {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -2.0em;
    margin-top: 1em; }

  #daily-daten {
    font-size: 0.3em;
    position: absolute;
    top: 22em;
    color: white;
    left: 3.2em;
    margin-top: -15em;
    margin-left: -2em; } }
@media only screen and (max-width: 750px) {
  #night, #day {
    min-width: 150px;
    min-height: 200px; }

  #dailyn, #dailyd {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -3em;
    margin-top: 1em; } }
@media only screen and (max-width: 650px) {
  #night, #day {
    min-width: 150px;
    min-height: 200px; }

  #dailyn {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -3.5em;
    margin-top: 1em; } }
@media only screen and (max-width: 600px) {
  #night, #day {
    min-width: 150px;
    min-height: 250px; }

  #mn, #sn, #rn, #cn, #md, #sun, #rd, #cd {
    position: absolute;
    bottom: -2.5em;
    right: 7.5em; }

  #tempn, #temp {
    position: absolute;
    font-size: 1em;
    top: 0.1em;
    left: 7.4em; }

  #descn, #desc {
    position: absolute;
    font-size: 0.6em;
    top: 0.6em;
    left: 12.5em; }

  #dailyn, #dailyd {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -3.5em;
    margin-top: 1em; }

  #todayn, #todayd {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    margin-top: 3em; }
    #todayn > #daily-descn, #todayd > #daily-descn {
      font-size: 0.9em;
      color: white;
      position: absolute;
      top: 10em;
      left: 2.5em;
      margin-left: 13em;
      margin-top: -3em; }
    #todayn > #daily-descd, #todayd > #daily-descd {
      font-size: 0.9em;
      color: #008385;
      position: absolute;
      top: 10em;
      left: 2.5em;
      margin-left: 13em;
      margin-top: -3em; }
    #todayn > #daily-daten, #todayd > #daily-daten {
      font-size: 0.9em;
      position: absolute;
      top: 22em;
      color: white;
      left: 3.2em;
      margin-top: -15em;
      margin-left: 2em; }
    #todayn > #daily-dated, #todayd > #daily-dated {
      font-size: 0.9em;
      position: absolute;
      top: 22em;
      color: #008385;
      left: 3.2em;
      margin-top: -15em;
      margin-left: 2em; }

  #plus1n, #plus1d {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -0.8em;
    margin-top: 6em; }
    #plus1n > #daily-descn1, #plus1d > #daily-descn1 {
      font-size: 0.9em;
      position: absolute;
      color: white;
      top: 27em;
      left: 7.5em;
      margin-left: 10em;
      margin-top: -20em; }
    #plus1n > #daily-descd1, #plus1d > #daily-descd1 {
      font-size: 0.9em;
      position: absolute;
      color: #008385;
      top: 27em;
      left: 7.5em;
      margin-left: 10em;
      margin-top: -20em; }
    #plus1n > #daily-daten1, #plus1d > #daily-daten1 {
      font-size: 0.9em;
      position: absolute;
      color: white;
      top: 22em;
      left: 8em;
      margin-top: -15em;
      margin-left: -0.8em; }
    #plus1n > #daily-dated1, #plus1d > #daily-dated1 {
      font-size: 0.9em;
      position: absolute;
      color: #008385;
      top: 22em;
      left: 8em;
      margin-top: -15em;
      margin-left: -0.8em; }

  #plus2n, #plus2d {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -5.8em;
    margin-top: 9em; }
    #plus2n > #daily-descn2, #plus2d > #daily-descn2 {
      font-size: 0.9em;
      position: absolute;
      color: white;
      top: 27em;
      left: 12.5em;
      margin-left: 10.8em;
      margin-top: -20em; }
    #plus2n > #daily-descd2, #plus2d > #daily-descd2 {
      font-size: 0.9em;
      position: absolute;
      color: #008385;
      top: 27em;
      left: 12.5em;
      margin-left: 10.8em;
      margin-top: -20em; }
    #plus2n > #daily-daten2, #plus2d > #daily-daten2 {
      font-size: 0.9em;
      position: absolute;
      color: white;
      top: 22em;
      left: 13.0em;
      margin-top: -15em;
      margin-left: -0.2em; }
    #plus2n > #daily-dated2, #plus2d > #daily-dated2 {
      font-size: 0.9em;
      position: absolute;
      color: #008385;
      top: 22em;
      left: 13.0em;
      margin-top: -15em;
      margin-left: -0.2em; }

  #plus3n, #plus3d {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -10.6em;
    margin-top: 12em; }
    #plus3n > #daily-descn3, #plus3d > #daily-descn3 {
      font-size: 0.9em;
      position: absolute;
      color: white;
      top: 27em;
      left: 17em;
      margin-left: 11.5em;
      margin-top: -20em; }
    #plus3n > #daily-descd3, #plus3d > #daily-descd3 {
      font-size: 0.9em;
      position: absolute;
      color: #008385;
      top: 27em;
      left: 17em;
      margin-left: 11.5em;
      margin-top: -20em; }
    #plus3n > #daily-daten3, #plus3d > #daily-daten3 {
      font-size: 0.9em;
      position: absolute;
      color: white;
      top: 22em;
      left: 17.7em;
      margin-top: -15em;
      margin-left: 0.3em; }
    #plus3n > #daily-dated3, #plus3d > #daily-dated3 {
      font-size: 0.9em;
      position: absolute;
      color: #008385;
      top: 22em;
      left: 17.7em;
      margin-top: -15em;
      margin-left: 0.3em; }

  #plus4n, #plus4d {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -15em;
    margin-top: 15em; }
    #plus4n > #daily-descn4, #plus4d > #daily-descn4 {
      font-size: 0.9em;
      color: white;
      position: absolute;
      top: 27em;
      left: 21.3em;
      margin-left: 12em;
      margin-top: -20em; }
    #plus4n > #daily-descd4, #plus4d > #daily-descd4 {
      font-size: 0.9em;
      color: #008385;
      position: absolute;
      top: 27em;
      left: 21.3em;
      margin-left: 12em;
      margin-top: -20em; }
    #plus4n > #daily-daten4, #plus4d > #daily-daten4 {
      font-size: 0.9em;
      position: absolute;
      top: 22em;
      color: white;
      left: 22.0em;
      margin-top: -15em;
      margin-left: 0.8em; }
    #plus4n > #daily-dated4, #plus4d > #daily-dated4 {
      font-size: 0.9em;
      position: absolute;
      top: 22em;
      color: #008385;
      left: 22.0em;
      margin-top: -15em;
      margin-left: 0.8em; }

  #daily-cloudn, #daily-rainn, #daily-snown, #daily-moonn, #daily-cloudd, #daily-raind, #daily-snowd, #daily-sund {
    display: none;
    font-size: 0.7em;
    position: absolute;
    top: 12em;
    left: 2.8em;
    margin-left: 11em;
    margin-top: -17em; }

  #daily-cloudn1, #daily-rainn1, #daily-snown1, #daily-moonn1, #daily-cloudd1, #daily-raind1, #daily-snowd1, #daily-sund1 {
    display: none;
    font-size: 0.7em;
    position: absolute;
    color: white;
    top: 25.5em;
    left: 7.7em;
    margin-left: 9em;
    margin-top: -17em; }

  #daily-cloudn2, #daily-rainn2, #daily-snown2, #daily-moonn2, #daily-cloudd2, #daily-raind2, #daily-snowd2, #daily-sund2 {
    display: none;
    font-size: 0.7em;
    position: absolute;
    top: 25.5em;
    left: 12.4em;
    margin-left: 11.3em;
    margin-top: -17em; }

  #daily-cloudn3, #daily-rainn3, #daily-snown3, #daily-moonn3, #daily-cloudd3, #daily-raind3, #daily-snowd3, #daily-sund3 {
    display: none;
    position: absolute;
    font-size: 0.7em;
    top: 25.5em;
    left: 17.4em;
    margin-left: 13.3em;
    margin-top: -17em; }

  #daily-cloudn4, #daily-rainn4, #daily-snown4, #daily-moonn4, #daily-cloudd4, #daily-raind4, #daily-snowd4, #daily-sund4 {
    display: none;
    font-size: 0.7em;
    position: absolute;
    top: 25.5em;
    left: 21.6em;
    margin-left: 15.3em;
    margin-top: -17em; } }
@media only screen and (max-width: 490px) {
  #night, #day {
    min-width: 150px;
    min-height: 300px;
    margin-top: 2em; }

  #dailyn, #dailyd {
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -4.0em;
    margin-top: 1em; } }
@media only screen and (max-width: 450px) {
  #night, #day {
    min-width: 150px;
    min-height: 300px;
    margin-top: 2em; }

  #dailyn, #dailyd {
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -4.5em;
    margin-top: 1em; } }
#daily-cloudn {
  display: none;
  width: 2.5em;
  position: absolute;
  color: white;
  top: 25.5em;
  left: 2.8em; }

#daily-rainn {
  display: none;
  width: 2.5em;
  position: absolute;
  color: white;
  top: 25.5em;
  left: 2.8em; }

#daily-snown {
  display: none;
  width: 2.5em;
  position: absolute;
  color: white;
  top: 25.5em;
  left: 2.8em; }

#daily-moonn {
  display: none;
  width: 2.3em;
  position: absolute;
  color: white;
  top: 25.5em;
  left: 2.8em; }

#daily-descn {
  font-size: 1em;
  color: white;
  position: absolute;
  top: 27em;
  left: 2.5em; }

#daily-daten {
  font-size: 1em;
  position: absolute;
  top: 22em;
  color: white;
  left: 3.2em; }

#daily-cloudn1 {
  display: none;
  width: 2.5em;
  position: absolute;
  color: white;
  top: 25.5em;
  left: 7.7em; }

#daily-rainn1 {
  display: none;
  width: 2.5em;
  position: absolute;
  color: white;
  top: 25.5em;
  left: 7.7em; }

#daily-snown1 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  color: white;
  left: 7.7em; }

#daily-descn1 {
  font-size: 1em;
  position: absolute;
  color: white;
  top: 27em;
  left: 7.5em; }

#daily-daten1 {
  font-size: 1em;
  position: absolute;
  color: white;
  top: 22em;
  left: 8em; }

#daily-cloudn2 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  color: white;
  left: 12.6em; }

#daily-rainn2 {
  display: none;
  width: 2.5em;
  position: absolute;
  color: white;
  top: 25.5em;
  left: 12.6em; }

#daily-snown2 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  color: white;
  left: 12.6em; }

#daily-descn2 {
  font-size: 1em;
  position: absolute;
  color: white;
  top: 27em;
  left: 12.5em; }

#daily-daten2 {
  font-size: 1em;
  position: absolute;
  color: white;
  top: 22em;
  left: 13.0em; }

#daily-cloudn3 {
  display: none;
  width: 2.5em;
  position: absolute;
  color: white;
  top: 25.5em;
  left: 17em; }

#daily-rainn3 {
  display: none;
  width: 2.5em;
  position: absolute;
  color: white;
  top: 25.5em;
  left: 17.6em; }

#daily-snown3 {
  display: none;
  width: 2.5em;
  position: absolute;
  color: white;
  top: 25.5em;
  left: 17.6em; }

#daily-descn3 {
  font-size: 1em;
  position: absolute;
  color: white;
  top: 27em;
  left: 17.2em; }

#daily-daten3 {
  font-size: 1em;
  position: absolute;
  color: white;
  top: 22em;
  left: 17.7em; }

#daily-cloudn4 {
  display: none;
  width: 2.5em;
  position: absolute;
  color: white;
  top: 25.5em;
  left: 21.6em; }

#daily-rainn4 {
  display: none;
  width: 2.5em;
  position: absolute;
  color: white;
  top: 25.5em;
  left: 21.6em; }

#daily-snown4 {
  display: none;
  width: 2.5em;
  position: absolute;
  color: white;
  top: 25.5em;
  left: 21.6em; }

#daily-moonn1 {
  display: none;
  width: 2.3em;
  position: absolute;
  color: white;
  top: 25.5em;
  left: 7.7em; }

#daily-moonn2 {
  display: none;
  width: 2.3em;
  position: absolute;
  color: white;
  top: 25.5em;
  left: 12.6em; }

#daily-moonn3 {
  display: none;
  width: 2.3em;
  position: absolute;
  top: 25.5em;
  color: white;
  left: 17.4em; }

#daily-moonn4 {
  display: none;
  width: 2.3em;
  position: absolute;
  color: white;
  top: 25.5em;
  left: 21.6em; }

#daily-descn4 {
  font-size: 1em;
  color: white;
  position: absolute;
  top: 27em;
  left: 21.3em; }

#daily-daten4 {
  font-size: 1em;
  position: absolute;
  top: 22em;
  color: white;
  left: 22.0em; }

#daily-cloudd {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 2.8em; }

#daily-raind {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 2.8em; }

#daily-sund {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 2.8em; }

#daily-snowd {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 2.8em; }

#daily-descd {
  font-size: 1em;
  position: absolute;
  color: #008385;
  top: 27em;
  left: 2.5em; }

#daily-dated {
  font-size: 1em;
  position: absolute;
  color: #008385;
  top: 22em;
  left: 3.2em; }

#daily-cloudd1 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 7.7em; }

#daily-raind1 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 7.7em; }

#daily-sund1 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 7.7em; }

#daily-snowd1 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 7.7em; }

#daily-descd1 {
  font-size: 1em;
  position: absolute;
  color: #008385;
  top: 27em;
  left: 7.5em; }

#daily-dated1 {
  font-size: 1em;
  position: absolute;
  color: #008385;
  top: 22em;
  left: 8em; }

#daily-cloudd2 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 12.6em; }

#daily-raind2 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 12.6em; }

#daily-sund2 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 12.6em; }

#daily-snowd2 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 12.6em; }

#daily-descd2 {
  font-size: 1em;
  position: absolute;
  color: #008385;
  top: 27em;
  left: 12.3em; }

#daily-dated2 {
  font-size: 1em;
  position: absolute;
  color: #008385;
  top: 22em;
  left: 13.0em; }

#daily-cloudd3 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 17em; }

#daily-raind3 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 17.6em; }

#daily-sund3 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 17.6em; }

#daily-snowd3 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 17.6em; }

#daily-descd3 {
  font-size: 1em;
  position: absolute;
  color: #008385;
  top: 27em;
  left: 17em; }

#daily-dated3 {
  font-size: 1em;
  position: absolute;
  color: #008385;
  top: 22em;
  left: 17.7em; }

#daily-cloudd4 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 21.6em; }

#daily-raind4 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 21.6em; }

#daily-sund4 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 21.6em; }

#daily-snowd4 {
  display: none;
  width: 2.5em;
  position: absolute;
  top: 25.5em;
  left: 21.6em; }

#daily-descd4 {
  font-size: 1em;
  position: absolute;
  color: #008385;
  top: 27em;
  left: 21.3em; }

#daily-dated4 {
  font-size: 1em;
  position: absolute;
  color: #008385;
  top: 22em;
  left: 22.0em; }

/*# sourceMappingURL=index.css.map */
